@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    scroll-behavior: smooth;
    background-color: rgb(26, 25, 25)
}


/* Haciendo Cambios al nav */

.main-header{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
  }

  .main-logo{
    color: aliceblue;
    text-decoration:none;
   
  }

  .nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    margin-left: -100%;
    transition: all .2s linear;
    z-index: 100;
  }

.nav.show{
    margin-left: 0;
  }

.nav-links{
   
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }

.nav-link{
    margin-top: 2rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }

.nav-link::after {
    position: absolute;
    content: "";
    background-color: rgb(169, 110, 237);
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  
.nav-link:hover::after {
    width: 100%;
  }


.main-logo h3{
    font-family: 'Satisfy', cursive;
    padding-left: 5px;
    color: aliceblue;
}

.main-logo .n2{
    padding-left: 15px;
}

.main-logo h3:hover{
    color: rgb(169, 110, 237);
}

.nav .nav-link:hover{
    color: rgb(169, 110, 237);
} 

.menu-hamburguesa {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  }

.menu-hamburguesa span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(169, 110, 237);
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all .2s linear;
  }

.menu-hamburguesa.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: rgb(169, 110, 237);
  }
  
.menu-hamburguesa.close span:nth-child(2){
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
.menu-hamburguesa.close span:nth-child(3){
    display: none;
  }

/* Haciendo Cambios al logo del CV */


.img-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.img2{
    width: 300px;
    object-fit: cover;
    border-radius: 280px; 
    border: 5px solid rgb(169, 110, 237);
    padding-top: 20px;
    margin-top: 350px;
    position: absolute;
}

/* Cambiando el título principal */

h1{
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: aliceblue;
    font-size: 48px;
    padding-top: 50px;
}

h1:hover{
    color: rgb(169, 110, 237);
}

#Inicio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 1.5;
}

#Inicio h3{
    padding-right: 20px;
    font-size: 25px;
    
    color: aliceblue;
}

#Inicio h3:hover{
    color: rgb(169, 110, 237);
}

/* Cambiando los párrados del CV */

p{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-style: oblique;
    color: aliceblue;
    font-size: 18px;
    padding-right: 30px;
    justify-content: center;
    text-align: justify;  
}

p:hover{
    color: rgb(169, 110, 237);
}

/* Haciendo Cambios en el botón */

#Descarga a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 10px;
    margin: 15px;
    margin-left: 5px;
    
}

.descarga{
    background-color: rgb(169, 110, 237);
    color: aliceblue;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 1px;
    
}

#Inicio .descarga{
    width: 30%;
}

.descarga:hover{ 
    background-color: aliceblue; 
    color: rgb(169, 110, 237); 
} 

/* Haciendo Cambios en Habilidades y Hobbies */

.hab-hob ul{
   list-style: none;
   margin: auto;
}

.hab-hob{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 1.5;
    background-color: rgb(169, 110, 237);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}


.hab-hob ul h2{
    margin: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    padding-top: 10px;
}

.hab-hob ul li{
    text-align: justify;
    background-color: rgb(169, 110, 237);
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.hab-hob ul li:hover{
    color: black;
}

/* Haciendo cambios en los títulos secundarios */

h2{
    font-family: 'DM Sans', sans-serif;
    font-style: oblique;
    font-size: 32px;
    margin: 20px auto;
    text-align: center;
    color: aliceblue;
    background-color: rgb(169, 110, 237);
}

h2:hover{
    color: black;
}

/* Haciendo Cambios a las listas */

ul{
    font-family: 'Mukta', sans-serif;
    font-style: oblique;
    color: aliceblue;
    font-size: 18px;
    margin: 20px auto;
    background-color: rgb(169, 110, 237);
}

/* Haciendo Cambios en los proyectos */

#proyectos img{
    justify-content: center;
    width: 50%;
    font-size: 20px;
    list-style: none;
    text-align: center;
    margin-top: 20px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: black;   
}

#proyectos img:hover{
    padding: 30px;
  }

#proyectos{
    background-color: black;
}

#proyectos .project{
    font-size: 40px;
}

h4{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

h4:hover{
    color: rgb(169, 110, 237);
}

h5{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

h5:hover{
    color: rgb(169, 110, 237);
}

/* Haciendo cambios al footer */

footer{
    height: 90px;
    width: 100%;
}

button{
    height: 50px;
    font-size: 50px;
    border: none;
}

#Contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 90px;
    margin: 20px auto; 
}

#Contacto ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#Contacto ul li button{
    color: rgb(169, 110, 237);
     
}

/* Haciendo responsivo el Proyecto */


@media screen and (min-width: 768px) {

    .menu-hamburguesa {
      display: none;
    }
  
    .main-logo {
      flex-basis: 30%;
    }
  
    .nav {
      position: static;
      margin: auto;
      flex-basis: 70%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end; 
    }
  
    .nav-links {
      width: 100%;
    }
  
    .nav-link {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.5rem;
      margin-right: 20px;
    }
  }

@media screen and (max-width: 768px) {
 
    #main{
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-content{
        padding-top: 100px;
    }

    #Inicio{
        display: flex;
        flex-direction: column;
        padding-top: 300px;
    }

    h1{
        font-size: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    h3{
        font-size: 18px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    

    #main{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hab-hob{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 420px) {
    .hab-hob{
        width: 100%;
    }

    .hab-hob ul li{
        width: 100%;
        padding-right: 20px;
    }
}
    






